{% extends "mxl_base.html" %}

{% block content %}

<script>
    $(document).ready(function(){

        // Date picker
        $(".datePicker").datepicker({ dateFormat: 'dd/mm/yy'});

        // Buttons
        $( "input:submit").button();
        $( ".form a").button();
        $(".linkbutton").button();
    });

</script>

<h2>Items</h2>

<div class="list-view">
    <div class="list-view-topbar">
        <div class="buttons">
            <a href="new" class="linkbutton">Create new</a>
        </div>
        <div class="search-field">
            <form method="get">Search: <input type="text" name="search_string" value="{{ search_string }}"><input type="submit" value="search" ></form>
        </div>
    </div>
    <div style="margin-bottom: 20px;">

    </div>

    {% block object_list %}{% endblock %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search_string={{ search_string }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search_string={{ search_string }}">next</a>
        {% endif %}
    </span>
    </div>


</div>

{% endblock %}