{% extends "mxl_base.html" %}

{% load menubar %}
{% load blogtags %}
{% load comments %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
{% menubar %}

<h1>{{ object.title }}</h1>
<p>Posted: {{ object.date_updated }} by {{ object.created_by }}</p>
<div>
{{ object.content|safe }}
</div>
<div>&nbsp;</div>
{% if object.allow_comments %}
<h2>Comments</h2>
{% get_comment_count for object as comment_count %}
{% render_comment_list for object %}
<h2>Post a comment</h2>
{% render_comment_form for object %}
{% endif %}

<h2>More</h2>
<div>Categories</div>
{% render_category_list %}
<div>Tags</div>
{% render_tag_list %}

{% get_latest mxl_blog.Tag 5 as tags %}
        {{ tags }}

</div>
<div>
<h2>Get latest categories</h2>
{% get_blog_category_list as categories %}
    {{ categories }}
</div>
<h2>Recent posts</h2>
{% blog_post_list object.blog.id 10 as blog_posts %}
<ul>
    {% for blog_post in blog_posts %}
    <li>{{ blog_post }}</li>
    {% endfor %}
</ul>

{%  endblock %}