<!-- BLOG POST LIST: LIST BLOG POSTS PER BLOG, SUPPORTING PAGINATION -->
{% extends "mxl_base.html" %}

{% load menubar %}
{% load blogtags %}
{% load comments %}

{% block content %}
{% menubar %}
<h1>Posts for {{ blog.name }}</h1>
<div>
    <ul>
        {% for blog_post in object_list %}
        <li><a href="{% url blog.post.view blog_slug=blog.slug pk=blog_post.id slug=blog_post.slug %}">{{ blog_post }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search_string={{ search_string }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search_string={{ search_string }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}