{% load admin_urls %}
{% if can_edit %}

<div class="admin-links">
    Admin: <a href="{{ change_url }}" target="_new">Edit</a> <a href="{{ delete_url }}" target="_new">Delete</a>
</div>


{% endif %}