MENUBAR
<ul>
    {% for extra_text, menuitem in finalmenuitems %}
    <li><a href="{{menuitem.url}}">{{ menuitem.name }}</a>
        {% ifequal extra_text 5 %}<ul>{% endifequal %}
            {% ifnotequal extra_text 5 %}</li>{% endifnotequal %}
    {% ifequal extra_text 2 %}</ul></li>{% endifequal %}

{% endfor %}

{% if user.is_authenticated %}
<li><a href="#">Signed in: {{ user.username }}</a>
    <ul>
        <li><a href="/accounts/my-account">View account</a></li>
        <li><a href="/accounts/signout">Sign out</a></li>
    </ul>
</li>
{% else %}
<li><a href="/accounts/signin">Sign in</a></li>
{% endif %}
</ul>